__pycache__/
*.py[cod]
*.log
venv/
env/
.venv/

ENV/
.env
.env.*
.vscode/
.idea/
.DS_Store
Thumbs.db
dist/
build/
*.spec
*.sqlite3
*.db
.ipynb_checkpoints/
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.pdf
*.synctex.gz
*.bbl
*.blg

# Ignore contents of uploads and plots but keep folder
static/uploads/*
static/plots/*
!static/uploads/.gitkeep
!static/plots/.gitkeep
